@charset "UTF-8";
:root {
  --main-color: #52668b;
  --additional-color: #89a5da;
  --additional-color-2: #a7be7b;
  --light-blue-background: #eff2f8;
  --white: #fff;
  --text-color: #2e3036;
  --text-800: rgba(46, 48, 54, 0.8);
  --white-text-800: rgba(255, 255, 255, 0.8);
  --blue-line: rgba(82, 102, 139, 0.3);
  --white-line: rgba(255, 255, 255, 0.3);
  --font-family: "Cygre", sans-serif;
}

@font-face {
  font-family: "Cygre";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Cygre.woff2") format("woff2"), url("../fonts/Cygre.woff") format("woff"), local("Roboto");
}
@font-face {
  font-family: "Cygre";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Cygre-Medium.woff2") format("woff2"), url("../fonts/Cygre-Medium.woff") format("woff"), local("Roboto");
}
@font-face {
  font-family: "Cygre";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Cygre-SemiBold.woff2") format("woff2"), url("../fonts/Cygre-SemiBold.woff") format("woff"), local("Roboto");
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 600;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --container-width: 1760px;
  --container-width-section: 1920px;
  --container-padding: 20px;
}

/* Общие glob */
html.lock {
  overflow: hidden;
}

html.burger-lock {
  overflow: hidden;
}

html::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--white);
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.3s linear;
}

.no-scroll {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

body.burger-lock {
  overflow: hidden;
}

* {
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.title-h1 {
  font-weight: 600;
  line-height: 110%;
  color: var(--white);
}

.title-h1 {
  font-size: 60px;
}

.title-h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: var(--text-color);
}

@media (max-width: 1200px) {
  .title-h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 28px;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo__picture {
  display: block;
}

.logo__picture img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo__name {
  font-weight: 500;
  font-size: 32px;
  color: var(--text-color);
}

.popup-search__body {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.popup-search__content {
  padding: 20px;
  border: 1px solid #dfede0;
  border-radius: 20px;
  background: #fff;
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-height: 100vh;
}

.popup-search__top {
  display: flex;
  gap: 10px;
}

.popup-search__close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 63px;
  aspect-ratio: 1/1;
  background: #f5f8f5;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-search__close svg g {
  transition: all 0.3s ease;
}

.popup-search__close:hover {
  background: #e1f0e1;
}

.popup-search__close:hover svg g {
  opacity: 1;
}

.popup-search__block {
  padding: 0 24px;
  margin: 84px 0 24px;
}

.popup-search__text {
  font-weight: 600;
  font-size: 20px;
  color: #004728;
  margin-bottom: 30px;
}

.popup-search__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-height: 323px;
  overflow-y: auto;
}

.popup-search__list::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.popup-search__list::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 20px;
  background: var(--main-color);
}

.popup-search__list li a {
  display: block;
  border: 1px solid var(--blue-line);
  border-radius: 40px;
  padding: 11px 18px 11px 38px;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-color);
  position: relative;
}

.popup-search__list li a::after {
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  background-image: url(../img/icons/icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 14px;
  top: 14px;
  transition: background-image 0.3s ease-in-out;
}

.popup-search__list li a:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.popup-search__block-result {
  padding: 0 24px;
  margin: 30px 0 24px;
}

.popup-search__list-result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 430px;
  overflow-y: auto;
}

.popup-search__list-result::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.popup-search__list-result::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 20px;
  background: var(--main-color);
}

.popup-search__list-result li a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.popup-search__list-result li a:hover {
  color: var(--main-color);
}

@media (max-width: 1024px) {
  .popup-search__content {
    padding: 40px 16px;
    border-radius: 16px;
  }
  .popup-search__top {
    display: flex;
    gap: 10px;
  }
  .popup-search__close {
    position: absolute;
    top: 14px;
    right: 14px;
    background: transparent;
    width: 14px;
    height: 14px;
  }
  .popup-search__block {
    padding: 0;
    margin: 20px 0;
  }
  .popup-search__text {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .popup-search__list {
    gap: 10px;
    max-height: 320px;
  }
  .popup-search__block-result {
    padding: 0;
    margin: 20px 0 0;
  }
  .popup-search__list-result {
    gap: 10px;
    max-height: 380px;
  }
}
/* popups */
.popup {
  height: 100vh;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  z-index: 1000;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
}

.popup__body {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.popup.open {
  opacity: 1;
  pointer-events: all;
}

.popup__content {
  position: relative;
  width: 100%;
  position: relative;
  transition: transform 0.3s linear;
  transform: rotateY(90deg);
  transform: translateY(30%);
  max-width: 950px;
  border-radius: 30px;
}

.popup.open .popup__content {
  transform: rotateY(0);
  transform: translateY(0);
}

.popup input {
  width: 100%;
}

.close-popup {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000;
  width: 16px;
  height: 16px;
}

.close-popup svg g {
  transition: all 0.3s ease;
}

.close-popup img {
  height: 100%;
}

.close-popup:hover svg g {
  opacity: 1;
}

@media (max-width: 768px) {
  .popup__content {
    border-radius: 16px;
  }
  .close-popup {
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;
  }
}
.none {
  display: none;
}

.popup-change__content {
  max-width: 1000px;
  padding: 60px;
  background: #007844;
}

.popup-change__title {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.popup-change__subtitle {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.popup-change__text {
  margin-bottom: 60px;
}

.popup-change__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-response__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-bottom: 32px;
}

.popup-response__wrapper {
  margin-bottom: 60px;
}

.popup-response__wrapper h3 {
  font-family: "LT Wave", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.popup-response__wrapper p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.popup-response__btn {
  margin: 0 auto;
  width: 100%;
  max-width: 321px;
  border: 1px solid #fff;
}

@media (max-width: 900px) {
  .popup-change__content {
    padding: 40px 20px;
    max-width: 700px;
  }
  .popup-change__title {
    font-size: 30px;
  }
  .popup-change__subtitle {
    font-size: 18px;
  }
  .popup-response__wrapper h3 {
    font-size: 30px;
  }
  .popup-response__wrapper p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .popup-change__content {
    max-width: 500px;
    padding: 40px 16px;
    border-radius: 16px;
  }
  .popup-change__title {
    font-size: 25px;
    margin-bottom: 16px;
    text-align: left;
  }
  .popup-change__subtitle {
    font-size: 14px;
    text-align: left;
  }
  .popup-change__text {
    margin-bottom: 40px;
  }
  .popup-response__icon {
    margin: 0 0 24px;
  }
  .popup-response__wrapper {
    margin-bottom: 180px;
  }
  .popup-response__wrapper h3 {
    font-size: 26px;
    margin-bottom: 16px;
    text-align: left;
  }
  .popup-response__wrapper p {
    font-size: 14px;
    text-align: left;
  }
  .popup-response__btn {
    max-width: none;
  }
}
.popup-city__content {
  padding: 60px;
  border: 1px solid #dfede0;
  border-radius: 20px;
  background: #fff;
  max-width: 950px;
  min-height: 555px;
}

.popup-city__title {
  font-family: "LT Wave", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.1;
  text-align: center;
  color: #004728;
  margin-bottom: 40px;
}

.popup-city__form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.popup-city__search {
  margin-top: 54px;
}

.popup-city__text {
  margin-bottom: 30px;
}

.popup-city__list {
  max-height: 170px;
  overflow-y: auto;
}

.popup-city__list::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.popup-city__list::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 20px;
  background: var(--main-color);
}

.popup-city__list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px 20px;
}

.popup-city__list ul li {
  flex: 1 0 30%;
}

.popup-city__list ul li a {
  display: block;
  font-weight: 600;
  color: #004728;
  transition: all 0.3s ease;
}

.popup-city__list ul li a:hover {
  color: #007844;
}

.popup-city__search-result {
  max-width: 600px;
  margin: 0 auto;
}

.popup-city__list-result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 240px;
  overflow-y: auto;
}

.popup-city__list-result::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.popup-city__list-result::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 20px;
  background: var(--main-color);
}

.popup-city__list-result li a {
  display: block;
  color: #004728;
}

.popup-city__list-result li a:hover {
  color: #007844;
}

@media (max-width: 950px) {
  .popup-city__list ul li {
    flex: 1 0 40%;
  }
}
@media (max-width: 768px) {
  .popup-city__content {
    border-radius: 15px;
    padding: 40px 16px;
    min-height: 582px;
  }
  .popup-city__title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 24px;
  }
  .popup-city__form {
    margin-bottom: 25px;
  }
  .popup-city__search {
    margin-top: 40px;
  }
  .popup-city__text {
    margin-bottom: 24px;
  }
  .popup-city__list {
    max-height: 290px;
  }
  .popup-city__list ul {
    flex-direction: column;
    gap: 14px;
  }
  .popup-city__list-result {
    gap: 14px;
    max-height: 362px;
  }
}
.network {
  border-radius: 500px;
  width: 50px;
  height: 50px;
  background: var(--light-blue-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.network svg path,
.network svg circle {
  transition: all 0.3s ease;
}

.network:hover {
  background: var(--main-color);
}

.network:hover svg path {
  fill: #fff;
}

.network.search-btn:hover svg path,
.network.search-btn:hover svg circle {
  stroke: #fff;
}

.network:active {
  opacity: 0.8;
}

@media (max-width: 1400px) {
  .network {
    width: 42px;
    height: 42px;
  }
}
button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  transition: color 0.3s, background-color 0.3s;
}

.button {
  border-radius: 30px;
  padding: 15px 27.5px;
  background: var(--main-color);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

button.hover:hover {
  background: var(--additional-color);
  color: white;
}

button.hover:active {
  background: var(--additional-color);
  opacity: 0.8;
}

.header__btns {
  display: flex;
}

.section__wrap {
  background: var(--main-color) url(../img/icons/banner.png) no-repeat;
  background-position: right -500px top 18%;
  background-size: 1668px 1668px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  background-image: url(../img/icons/next.svg);
  display: block;
  width: 6px;
  height: 10px;
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .section__wrap {
    background-position: right -70px top 77px;
    background-size: 249.69px 249.69px;
  }
}
.section__wrap {
  border-radius: 40px;
  padding: 40px 80px 80px;
  position: relative;
  overflow: hidden;
}

.section__container {
  max-width: var(--container-width-section);
}

.section {
  margin-bottom: 120px;
}

@media (max-width: 1360px) {
  .section .container {
    padding: 0 10px;
  }
}
@media (width <= 1200px) {
  .section {
    margin-bottom: 50px;
  }
  .section__wrap {
    border-radius: 20px;
    padding: 30px 20px 30px;
  }
}
@media (width <= 1024px) {
  .section {
    margin-bottom: 50px;
  }
  .footer .container,
  .header .container {
    padding: 0px;
  }
}
.breadcrumbs {
  z-index: 1;
  position: relative;
  align-items: center;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.breadcrumbs li {
  align-items: center;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.breadcrumbs li,
.breadcrumbs li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
}

.breadcrumbs li:last-child {
  opacity: 0.6;
}

.breadcrumbs li a {
  transition: opacity 0.3s;
}

.breadcrumbs li a:hover {
  opacity: 0.6;
}

.section__title-h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: var(--white);
  width: 48.5%;
  line-height: 110%;
}

.gallery__item-discp {
  background: var(--additional-color) url(../img/icons/circle.svg) no-repeat;
  background-position: left 20px top 18px;
  background-size: 16px 16px;
}

.gallery__item-discp p {
  padding-left: 27px;
}

@media (width <= 1024px) {
  .breadcrumbs li,
  .breadcrumbs li a {
    font-size: 14px;
  }
  .breadcrumbs {
    margin-bottom: 50px;
  }
  .section__title-h1 {
    width: 100%;
    font-size: 28px;
    line-height: 110%;
  }
}
@media (width <= 867px) {
  .gallery__item-discp p {
    padding-left: 0px;
  }
}
.gallery__item picture {
  max-height: 343px;
  height: 100%;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 30px;
}

.gallery__item-discp {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--white);
  border-radius: 40px;
  padding: 16px 20px;
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  opacity: 1;
  max-height: 1000px;
  opacity: 1;
  transform: scale(1);
  transition: margin 0.3s, opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
  position: relative;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.gallery__item.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.65);
  max-height: 0;
  margin: 0;
}

@media (width <= 1200px) {
  .gallery__item {
    flex: 0 0 calc(50% - 20px);
    border-radius: 16px;
  }
}
@media (width <= 1200px) {
  .gallery__item-discp {
    font-size: 14px;
  }
}
@media (width <= 867px) {
  .gallery__item-discp {
    font-size: 14px;
    position: relative;
    background: rgba(255, 255, 255, 0);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--text-800);
    padding: 0;
  }
  .gallery__item picture {
    width: 100%;
    margin-bottom: 19px;
    max-height: 220px;
    height: 100%;
  }
}
@media (width <= 480px) {
  .gallery__item {
    margin: 0;
    margin-bottom: 14px;
    flex: 0 0 100%;
  }
}
.hiding__element-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiding__element-buttons.hide {
  display: none;
}

.hiding__elements {
  margin-bottom: 40px;
}

.hiding__element-button {
  border: 1px solid var(--blue-line);
  border-radius: 30px;
  padding: 16px 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
  min-width: 194px;
  background-color: rgba(245, 222, 179, 0);
  transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.hiding__element-button:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
}

.hiding__element-button.open::after {
  content: "Скрыть";
}

.hiding__element-button::after {
  content: "Смотреть еще";
}

.hiding__element-button:active {
  background: var(--additional-color);
  opacity: 0.8;
}

@media (width <= 1024px) {
  .hiding__elements {
    margin-bottom: 30px;
  }
}
@media (width <= 480px) {
  .hiding__element-button {
    width: 100%;
  }
}
.header {
  position: relative;
}

.header__top {
  padding: 20px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__top-left {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__top-right {
  width: 25.11%;
}

.header__items-row {
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  gap: 60px;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
  flex: 0 1 auto;
  min-width: -moz-min-content;
  min-width: min-content;
}

.header__item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__item-text button {
  display: flex;
  flex-direction: column;
}

.header__item-text span {
  font-weight: 400;
  font-size: 16px;
  color: #6f7c97;
}

.header__item-text p,
.header__item-text a,
.header__item-text button {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.header__item-text a {
  text-wrap: nowrap;
}

.header__item-text a,
.header__item-text button {
  transition: all 0.3s ease;
}

.header__item-text a:hover,
.header__item-text button:hover {
  text-decoration: underline;
}

.header__item-icon {
  flex-shrink: 0;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__icons .special-btn {
  padding: 0px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid var(--blue-line);
  background-color: white;
  transition: background-color 0.3s, opacity 0.3s;
}

.special-btn:active {
  opacity: 0.8;
}

.special-btn svg path {
  stroke: #52668B;
  transition: stroke 0.3s ease;
}

.special-btn:active svg path {
  stroke: white;
}

.special-btn:hover svg path {
  stroke: white;
}

.header__bottom {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.header__nav-item svg {
  transition: all 0.3s ease;
}

.header__nav-arrow {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.header__nav-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.header__nav-sublist {
  padding: 13px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
}

.header__nav-sublist ul {
  padding: 30px 0 10px;
  min-width: 340px;
  border: 1px solid var(--blue-line);
  border-radius: 16px;
  background: var(--white);
}

.header__nav-sublist ul li {
  position: relative;
}

.header__nav-sublist ul a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  transition: all 0.3s ease;
  padding: 0px 30px 20px 30px;
}

.header__nav-sublist ul a:hover {
  color: var(--main-color);
}

.header__nav-subsublist {
  padding: 0 8px;
  top: -16px;
  left: 100%;
}

.header__nav-subsublist ul {
  padding: 30px 0 10px;
  min-width: 460px;
}

.header__nav-subsublist ul a {
  color: var(--text-800);
}

.header__btns {
  display: flex;
  gap: 12px;
}

.header-mobile {
  display: none;
}

.header-mobile .network {
  width: 50px;
  height: 50px;
}

.burger {
  border-radius: 40px;
  padding: 16px;
  width: 46px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-shrink: 0;
  background: var(--additional-color);
}

.burger span {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger.active span:first-child {
  transform: rotate(45deg) translate(3px, 2px);
}

.burger.active span:last-child {
  transform: rotate(-45deg) translate(4px, -2px);
}

@media (width > 1024px) {
  .header__nav-sublist .header__nav-arrow {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    transition: all 0.3s ease;
  }
}
@media (hover: hover) {
  .header__nav-item:hover .header__nav-arrow svg {
    transform: rotate(180deg);
  }
  .header__nav-link:hover {
    color: var(--main-color);
  }
  .header__nav-item:hover {
    color: var(--main-color);
  }
  .header__nav-item:hover > .header__nav-sublist {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .header__nav-sublist li:hover > .header__nav-subsublist {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
@media (max-width: 1360px) {
  .header .container {
    padding: 0 10px;
  }
  .footer .container {
    padding: 0 10px;
  }
  .header__top {
    padding: 20px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .header__top-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__items {
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .header__items-row {
    display: flex;
    gap: 35px;
  }
  .header__item:not(:last-child) {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
  .header__icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__icons .special-btn {
    padding: 10px;
  }
  .header__nav-link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
  }
  .header__nav-sublist ul {
    min-width: 400px;
  }
  .header__nav-subsublist ul {
    min-width: 360px;
  }
  .header__btns {
    gap: 8px;
  }
  .header__btns button {
    padding: 16px 17px;
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .header-mobile {
    display: block;
  }
  .main {
    margin-top: 70px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
  .header__top {
    padding: 12px 0;
    gap: 10px;
  }
  .header__top-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__top-btns {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  .header__top-btns button:first-child {
    padding: 0;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__item:not(:last-child) {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__bottom {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    background: #fff;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .header__bottom.active {
    opacity: 1;
    pointer-events: all;
    left: 0;
  }
  .header__bottom::-webkit-scrollbar {
    width: 3px;
    background: transparent;
  }
  .header__bottom::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 20px;
    background: var(--main-color);
  }
  .header__search {
    margin-bottom: 12px;
  }
  .header__mobile-btn {
    width: 100%;
  }
  .header-mobile-btn {
    width: 100%;
  }
  .header-mobile .header__icons {
    display: flex;
  }
  .header-mobile .header__items-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .header-mobile .header__item:nth-child(n) {
    display: flex;
  }
  .header__nav-list {
    flex-direction: column;
    gap: 8px;
  }
  .header__nav-sublist .header__nav-ul--dop {
    padding: 0;
  }
  .header__nav-item {
    flex-wrap: wrap;
    padding: 0;
    gap: 0;
    border-radius: 12px;
    background: var(--light-blue-background);
    justify-content: space-between;
  }
  .header__nav-item > .header__nav-arrow {
    display: flex;
  }
  .header__nav-item.active > .header__nav-arrow {
    transform: rotate(180deg);
    width: 12px;
    margin-right: 24px;
  }
  .header__nav-link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    width: calc(100% - 60px);
    border-radius: 12px;
    padding: 20px;
    background: var(--light-blue-background);
  }
  .header__nav-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    transition: all 0.3s ease;
  }
  .header__nav-itemService .header__nav-arrow {
    display: flex;
  }
  .header__nav-linkService > svg {
    display: none;
  }
  .header__nav-sublist {
    padding: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: static;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .header__nav-item.active {
    padding-bottom: 20px;
  }
  .header__nav-item > .header__nav-arrow svg {
    width: 12px;
  }
  .header__nav-item.active > .header__nav-arrow svg {
    width: 12px;
  }
  .header__nav-sublist ul {
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 20px 0;
    min-width: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--light-blue-background);
    border-radius: 12px;
    position: relative;
  }
  .header__nav-ul::after {
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
    background-image: url(../img/icons/line3.svg);
    top: 0;
    left: 0px;
    right: 0;
    transition: background-image 0.3s ease-in-out;
  }
  .header__nav-sublist ul li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    font-size: 16px;
    padding: 0px 24px 0px 20px;
    background: var(--light-blue-background);
  }
  .header__nav-sublist ul li .header__nav-arrow {
    height: 16px;
    width: 12px;
  }
  .header__nav-sublist ul li .header__nav-arrow svg {
    transition: all 0.3s ease;
  }
  .header__nav-sublist ul li .header__nav-arrow.active svg {
    transform: rotate(180deg);
  }
  .header__nav-sublist ul a {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    max-width: calc(100% - 50px);
  }
  .header__nav-subsublist {
    width: 100%;
    padding: 0;
  }
  .header__nav-subsublist ul {
    padding: 0;
    background: transparent;
    min-width: auto;
    gap: 0;
  }
  .header__nav-subsublist ul li {
    padding: 0;
    border-radius: 0;
  }
  .header__nav-subsublist ul a {
    padding: 8px 0;
  }
  .header__nav-sublist ul a.active {
    color: var(--main-color);
  }
  .header__btns {
    display: none;
  }
}
@media (width <= 1200px) {
  .header__btns .header__icons {
    display: none;
  }
}
@media (width <= 1024px) {
  .header__logo .logo__text {
    font-size: 26px;
  }
  .logo__picture img {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
  }
  .header__item-icon img {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
  }
  .header__item-text p,
  .header__item-text a,
  .header__item-text button {
    font-size: 16px;
  }
  .header__item-text span {
    font-size: 14px;
  }
  .header__item-text {
    gap: 4px;
    justify-content: center;
  }
}
@media (width <= 768px) {
  .header__logo .logo__text {
    display: none;
  }
}
.form-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--blue-line);
  border-radius: 30px;
  padding: 14.5px 24px;
  max-width: 402px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #6f7c97;
}

.form-search input {
  display: block;
  max-width: 402px;
  width: 100%;
}

.header-mobile .button {
  width: 100%;
  font-size: 16px;
}

.no-results-message {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-800);
  padding-bottom: 20px;
  position: relative;
}

.no-results-message::after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  background-image: url(../img/icons/line3.svg);
  left: 0px;
  right: 0;
  bottom: 0px;
  transition: background-image 0.3s ease-in-out;
}

.header__contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 30px;
}

.header__contact-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  margin-bottom: 6px;
}

.header__contact a,
.header__contact button {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  color: var(--text-color);
  text-align: left;
}

.footer {
  margin-bottom: 20px;
}

.footer__top-line::after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  background-image: url(../img/icons/line2.svg);
  top: 0;
  left: 0;
  right: 0;
  transition: background-image 0.3s ease-in-out;
}

.footer__wrap {
  border-radius: 40px;
  padding: 80px;
  background: var(--text-color);
}

.footer__container {
  max-width: var(--container-width-section);
}

.footer__top {
  padding-bottom: 80px;
  margin-bottom: 87px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__top-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
  opacity: 0.8;
}

.footer__top-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__logo .logo__name {
  color: var(--white);
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__top-line {
  position: relative;
}

.top-network {
  display: flex;
  gap: 10px;
}

.footer__top-network .network {
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
}

.footer__top-network .network:hover {
  background: white;
}

.top-network__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 30px;
  color: var(--white);
}

.footer__top-network .network:hover svg path {
  fill: var(--main-color);
}

.footer__search .form-search {
  border: 1px solid var(--white-line);
}

.footer__search .form-search input {
  color: var(--white);
}

.footer__search .form-search input::-moz-placeholder {
  color: var(--white);
  opacity: 0.6;
}

.footer__search .form-search input::placeholder {
  color: var(--white);
  opacity: 0.6;
}

.footer__search .popup-search__list-result {
  position: absolute;
  max-height: 430px;
}

.footer__special {
  display: flex;
  opacity: 0.8;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  gap: 16px;
  align-items: center;
  transition: opacity 0.3s;
}

.footer__special:hover {
  opacity: 1;
}

@media (width < 1200px) {
  .footer__wrap {
    border-radius: 20px 20px 0px 0px;
    padding: 40px 20px;
  }
}
@media (width < 1024px) {
  .footer {
    margin-bottom: 0px;
  }
  .footer__logo {
    margin-bottom: 24px;
  }
  .footer__top-text {
    font-size: 14px;
  }
  .top-network__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .footer__top {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
.footer__top-items {
  display: flex;
  justify-content: space-between;
}

.top-references__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: var(--white);
  margin-bottom: 30px;
}

.top-references__item-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-references__item-link button,
.top-references__item-link a {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  opacity: 0.8;
  transition: opacity 0.3s;
  text-align: left;
}

.top-references__item-link:hover button,
.top-references__item-link:hover a {
  opacity: 1;
}

.top-references__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__top-info {
  width: 24.4%;
}

.footer__top-references {
  width: 57.6%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (width <= 1024px) {
  .footer__top-info {
    width: 100%;
  }
  .footer__top-references {
    width: 100%;
    gap: 40px;
  }
  .footer__top-items {
    flex-direction: column;
    gap: 40px;
  }
  .top-references__item-title {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .top-references__item-links {
    gap: 18px;
  }
  .top-references__item-link button,
  .top-references__item-link a {
    font-size: 16px;
  }
}
@media (width <= 1024px) {
  .top-references__items {
    gap: 40px;
  }
}
.clinic-rating__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: var(--white);
  margin-bottom: 30px;
}

.clinic-rating__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.8;
  color: var(--white);
}

.clinic-rating__img {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media (width <= 1204px) {
  .clinic-rating__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .linic-rating__text {
    font-size: 14px;
  }
  .clinic-rating__img {
    gap: 10px;
  }
}
.payment-methods__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: var(--white);
  margin-bottom: 30px;
}

.payment-methods__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 16px 15px 16px;
  opacity: 0.8;
  background: rgba(239, 242, 248, 0.1);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white-text-800);
  font-size: 16px;
  max-width: 120px;
  width: 100%;
}

.payment-methods__elems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (width <= 1024px) {
  .payment-methods__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .payment-methods__elem {
    font-size: 14px;
    max-width: 100%;
    flex: 0 0 calc((100% - 20px) / 3);
    padding: 16px 6px 15px 6px;
  }
}
.footer__bottom__elems {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__bottom__elem p,
.footer__bottom__elem-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);
  transition: opacity 0.3s;
  opacity: 0.8;
}

.footer__bottom__elem-link:hover {
  opacity: 1;
}

.footer__bottom__elem p {
  opacity: 0.6;
}

.footer__bottom__elem:first-child {
  width: 24.4%;
}

.footer__bottom__elem:last-child {
  width: 57.6%;
}

.footer__bottom__elem--links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

@media (width <= 1024px) {
  .footer__bottom__elems {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .footer__bottom__elem:first-child,
  .footer__bottom__elem:last-child {
    width: 100%;
  }
  .footer__bottom__elem p,
  .footer__bottom__elem-link {
    font-size: 14px;
  }
  .footer__bottom__elem--links {
    gap: 20px;
    flex-direction: column;
  }
  .footer .container,
  .section .section__container {
    padding: 0;
  }
}